@font-face {
    font-family: Litmus-regular;
    src: url("../fonts/NightrainLitmus-Regular.woff2");
}

@font-face {
    font-family: Litmus-bold;
    src: url("../fonts/NightrainLitmus-Bold.woff2");
}

@font-face {
    font-family: Litmus-semibold;
    src: url("../fonts/NightrainLitmus-SemiBold.woff2");
}

@font-face {
    font-family: Litmus-medium;
    src: url("../fonts/NightrainLitmus-Medium.woff2");
}

@font-face {
    font-family: Litmus-thin;
    src: url("../fonts/NightrainLitmus-Thin.woff2");
}

html, body {
    color: #414042;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    background: #fafafa;
    transform-style: preserve-3d;
    a {
        color: inherit;
        text-decoration: none;
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
        display: none;
        width: 0px;
        -webkit-appearance: none;
        background: transparent; /* Chrome/Safari/Webkit */
    }
    .group {
        display: flex;
    }
    .scroll-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
}

.landing-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(-45deg, #FFE29A, #F9C7DD, #8FB6C9, #DEEBB4, #D9B0A5, #FAD5E6);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

    .svg-logo-container {
        .svg-logo
        {
            width: 21vw;
            min-width: 125px;
            max-width: 225px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform-origin: center;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            overflow: hidden;
        }
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.landing-page-footer {
    z-index: 1;
    position: fixed;
    bottom: calc(55px + (75 - 55) * ((100vw - 300px) / (1100 - 300)));
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    height: 0;

    font-family: Litmus-semibold, monospace;
    font-size: calc(8px + (12 - 8) * ((100vw - 300px) / (1100 - 300)));
    .scroll, .follow {
        transform: rotate(90deg);
        position: relative;
        cursor: pointer;
        display: block;
        width: calc(40px + (65 - 40) * ((100vw - 200px) / (1100 - 300)));
        height: 25px;
    }

    .scroll:hover {
        transition: opacity 0.4s ease-in-out;
        opacity: .6;
    }

    .follow {
        &.open {
            .social {
                transition: all 300ms ease-out 300ms;
                width: 65%;
            }
            .follow-text {
                transition: all 300ms ease-in;
                width: 0%;
            }
        }
    }

    .scroll-inner, .follow-front, .follow-back {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        overflow:hidden;
    }

    .follow-back {
        overflow:hidden;
        margin-top: 1.5px;
    }
    .follow-text {
        transition: all 300ms ease-out 300ms;
        visibility: visible;
        overflow: hidden;
        width: 65%;
    }
    .social {
        display: block;
        width: 0%;
        overflow: hidden;
        position: absolute;
        left: 0.5vw;
        transition: all 300ms ease-in;
    }

    img {
        min-width: 10px;
        min-height: 10px;
        width: 2vw;
        height: 2vw;
        max-width: 20px;
        max-height: 20px;
        transform: rotate(-90deg);
        transition: opacity 0.4s;
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }

}

header 
{
    position: fixed;
    max-height: 70px;
    min-height: 40px;
    height: 5vw;
    width: 96vw;
    z-index: 2;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: Litmus-semibold, monospace;
    display: flex;
    background-color: #fafafa;
    align-items: center;
    font-size: calc(9px + (12 - 9) * ((100vw - 300px) / (1100 - 300)));

    div {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .on-the-map-inner {
        padding: 5px;
        margin-right: auto;
    }

    .book-room-inner {
        margin-left: auto; 
        padding: 5px;
    }

    .logo {
        visibility: "visible";
        opacity: 1;
        font-family: Litmus-medium, monospace;
        letter-spacing: 0.7em;
        font-size: calc(12px + (17 - 12) * ((100vw - 300px) / (1100 - 300)));
        >* {
            padding-left: 0.7em;
        }
    }
    .scroll-top, .logo>a {
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: .6;
            cursor: pointer;
        }
    }
}

.general-hover {
    padding: 5px;
    background-size: 0% 110%;
    background-position: 0% 0%;
    background-image: linear-gradient(to right, transparent 5%, #EAB1D6, #76C7D6);
    background-repeat: no-repeat;
    opacity: 1;
    &:hover {
        opacity: 1;
        cursor: pointer;
        animation: Swipe 1s ease-in-out 1;
        -moz-animation: Swipe 1s ease-in-out 1;
        -webkit-animation: Swipe 1s ease-in-out 1;
    }
}

@-moz-keyframes Swipe {
    0% {
        background-size: 75% 100%;
        background-position: -300% 0%;
    }
    100% {
        background-size: 75% 100%;
        background-position: 350% 0%;
    }
}

@-webkit-keyframes Swipe {
    0% {
        background-size: 75% 100%;
        background-position: -300% 0%;
    }
    100% {
        background-size: 75% 100%;
        background-position: 350% 0%;
    }
}

@keyframes Swipe {
    0% {
        background-size: 75% 100%;
        background-position: -300% 0%;
    }
    100% {
        background-size: 75% 100%;
        background-position: 350% 0%;
    }
}

.st0 {
    fill: none;
    stroke: #414042;
    stroke-width: 2.5;
    stroke-dashoffset: 0;
}


.st1 {
    fill: #414042;
    opacity: 1;
}


footer {
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    width: 100vw;
    font-family: Litmus-medium, monospace;
    background: #fafafa;
    color: #414042;
    font-size: calc(8px + (10 - 8) * ((100vw - 300px) / (1100 - 300)));
    a:hover{
        opacity: .6;
        cursor: pointer !important;
    }
    a.current{
        pointer-events: none;
        opacity: .6;
    }
    .footer-first {
        background: #fafafa;
        position: relative;
        height: 6vw;
        width: 96vw;
        padding: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        table {
            display: flex;
            flex-direction: row;
        }

        .contact {
            flex: 1;
            justify-content: flex-start;
        }
        .location {
        }
        .social{
            flex: 1;
            justify-content: flex-end;
            cellspacing: 0;
            cellpadding: 0;
            border-spacing: 0;
        }
    }
    .footer-second-container {
        background: linear-gradient(105deg, #FFE29A, #F9C7DD, #8FB6C9, #DEEBB4, #D9B0A5, #FAD5E6);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vw;
    }
    .footer-second {
        position: relative;
        width: 96vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .address {
            flex: 1;
        }

        .legal {
            text-align: center;
        }

        .copyright {
            flex: 1;
            text-align: right;
        }
    }
    img {
        padding: 5px;
        min-width: 10px;
        min-height: 10px;
        width: 2vw;
        height: 2vw;
        max-width: 20px;
        max-height: 20px;
    }
    .twitter {
        width: 3vw;
        height: 3vw;
        min-width: 15px;
        max-width: 30px;
    }
    .map {
        background: #fafafa;
        z-index: 1;
        width: 100vw;
        max-height: 450px;
        min-height: 225px;
        height: calc(225px + (450 - 225) * ((100vw - 300px) / (1400 - 300)));
        display: flex;
        iframe {
            border: none;
            pointer-events: none;
            &.clicked {
                pointer-events: auto;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    footer {
        font-size: calc(7px + (14 - 7) * ((100vw - 300px) / (800 - 300)));
        .footer-first {
            display: block;
            height: 30vw;
            min-height: 120px;
            .contact {
                position: absolute;
                left: 5vw;
                top: 10px;
                transform: translateX(-5px);
            }
            .location {
                position: absolute;
                bottom: 10px;
                width: 90vw;
                display: table;
                left: 0;
                right: 0;
                margin: auto;
                .distance {
                    text-align: right;
                }
            }
            .social {
                right: 5vw;
                top: 10px;
                position: absolute;
            }
        }
        .footer-second-container {
            height: 29vw;
            min-height: calc(100px+4vw);
        }
        .footer-second {
            height: 25vw;
            min-height: 100px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .address {
                flex: auto;
                width: 90vw;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .legal {
                transform: translateX(-5px);
                flex: auto;
                width: 90vw;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .copyright {
                width: 90vw;
                flex: auto;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}


.home-page {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
}

.home-content {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background: #fafafa;
    &::after {
        height: 7vw;
        content: "";
        background: #fafafa;
    }
}

.landing-page-overlay {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.home-section {
    background: #fafafa;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 46vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform-style: preserve-3d;
    .img-container {
        overflow: visible !important;
        position: relative;
        width: 88vw;
        height: 39vw;
    }

    .image1 {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 65.5vw;
        height: 24.5vw;
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        .image-layover {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 65.5vw;
            height: 24.5vw;
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent;
        }
    }

    .image2 {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35vw;
        height: 20vw;
        border: 0;
        margin: 0;
        padding: 0;
        background: transparent;
        .image-layover {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35vw;
            height: 20vw;
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent;
        }
    }

    .mobile-image {
        display: none;
    }
    .hover-image {
        transform: translate3d(0px, 100vh, 0px);
    }


    .desc-overlay {
        height: 14vw;
        bottom: 0;
        right: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        background: #fafafa;
    }
    .desc-container {
        display:flex;
        align-items: center;
        height: 16vw;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 55vw;
        .description {
            display: table;
            bottom: 0;
            left: 0;
            width: 45vw;
            max-width: 550px;
            margin: 0;
            padding: 0;
            h1 {
                font-family: Litmus-semibold, monospace;
                font-size: calc(11px + (19 - 11) * ((100vw - 300px) / (1100 - 300)));
                line-height: 0.5em; 
            }
            p {
                font-family: Litmus-regular, monospace;
                font-size: calc(9px + (13 - 9) * ((100vw - 300px) / (1100 - 300)));
                line-height: 1.5em; 
            }
        }
    }

}

@media screen and (max-width: 800px) {
    .home-section {
        height: 65vw;
        align-items: center;
        justify-content: center;
        .img-container {
            height: 50vw;
        }
        .mobile-image {
            display: block;
        }
        .image1 {
            left:0;
            right:0;
            margin:auto;
            width: 85vw;
            height: 31.7vw;
            .image-layover {
                left:0;
                right:0;
                margin:auto;
                width: 85vw;
                height: 31.7vw;
            }
        }
        .image2 {
            display: none;
        }
        .desc-overlay {
            display: none;
        }
        .desc-container {
            left:0;
            right:0;
            margin:auto;
            width: 85vw;
            .description {
                left: 0;
                right: 0;
                margin: auto;
                width: 83vw;
                max-width: 700px;
                h1 {
                    font-family: Litmus-semibold, monospace;
                    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (800 - 300)));
                }
                p {
                    font-family: Litmus-regular, monospace;
                    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (800 - 300)));
                }
            }
        }
    }
}

.text-content{
    width: 100vw;
    float: left;
    font-family: Litmus-regular;
    margin-top: 7vw;
    margin-bottom: 5vw;
    .square {
        margin-right: 10px;
    }

    .container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    h2{
        display: block;
        font-size: 26px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 18px;
        margin:20px 0 5px;
        display: block;
        color: #000;
    }

    h4{
        font-size: 16px;
        margin:0 0 5px;
        display: block;
        color: #000;
    }

    p{
        font-size:14px;
        margin-top: 0px;
        margin-bottom:20px;
    }


    article {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        column-gap: 4em;
    }
}

@media screen and (max-width: 800px) {
    .text-content {
        article {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
        h2{
            font-size: 3.2vw;
        }
        h3{
            font-size: 2.8vw;
        }
        h4{
            font-size: 2.4vw;
        }
        p{
            font-size: 2vw;
            line-height: 3.5vw;
        }
    }
}


.details {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fafafa;
}

.details-content {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background: transparent;
    &::before, &::after {
        height: 4vw;
        content: "";
    }
}

.details-section {
    background: #fafafa;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 52vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container {
        width: 85vw;
        height: 46vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    .slide-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        width: 100%;
        height: 24.5vw;
        font-family: Litmus-thin, monospace;

        .slider-container {
            width: 53vw;
            height: 24.5vw;
            border: 0;
            margin: 0;
            padding: 0;
            .images {
                position: absolute;
                width: 53vw;
                height: 24.5vw;
                border: 0;
                margin: 0;
                padding: 0;
            }
            .slider-layover {
                position: absolute;
                width: 53vw;
                height: 24.5vw;
                border: 0;
                margin: 0;
                padding: 0;
                background: transparent;
            }
        }
        .left, .right {
            width: 5vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                padding: 5px;
                min-width: 10px;
                min-height: 10px;
                width: 2vw;
                height: 2vw;
                max-width: 20px;
                max-height: 20px;
                transition: opacity 0.2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
        .right {
            justify-content: flex-end;
        }

    }

    .desc-container {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        height: 17vw;
        margin: 0;
        padding: 0;
        width: 100%;
        .description {
            display: table;
            bottom: 0;
            left: 0;
            width: 30vw;
            max-width: 550px;
            margin: 0;
            padding: 0;
            h1 {
                font-family: Litmus-semibold, monospace;
                font-size: calc(8px + (16 - 8) * ((100vw - 300px) / (1100 - 300)));
                line-height: 0em;
            }
            p {
                font-family: Litmus-regular, monospace;
                font-size: calc(6px + (11 - 6) * ((100vw - 300px) / (1100 - 300)));
                line-height: 1.5em;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .details-section {
        height: 75vw;
        align-items: center;
        justify-content: center;
        .container {
            width: 90vw;
            height: 68vw;
        }
        .slide-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 34vw;
            .slider-container {
                left:0;
                right:0;
                margin:auto;
                width: 70vw;
                height: 34vw;
                .images {
                    left:0;
                    right:0;
                    margin:auto;
                    position: absolute;
                    width: 70vw;
                    height: 34vw;
                }
                .slider-layover {
                    left:0;
                    right:0;
                    margin:auto;
                    position: absolute;
                    width: 70vw;
                    height: 34vw;
                }
            }
        }
        .desc-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            left:0;
            right:0;
            margin:auto;
            width: 68vw;
            height: 30vw;
            .description {
                width: 83vw;
                max-width: 700px;
                h1 {
                    font-family: Litmus-semibold, monospace;
                    font-size: calc(10px + (17 - 10) * ((100vw - 300px) / (800 - 300)));
                }
                p {
                    font-family: Litmus-regular, monospace;
                    font-size: calc(7px + (13 - 7) * ((100vw - 300px) / (800 - 300)));
                }
            }
        }
    }
}


/* ENTER TRANSITION */
/* Declare transition start properties*/
.slide-enter {
    top: 0;
    position: absolute;
    opacity: 0;
    .page-overlay {
        opacity: 1;
        visibility: visible;
        background: #fafafa;
        //transform: translateX(+20vw) skew(10deg);
        transform: translateX(-20vw) skew(10deg);
    }
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
    top: 0;
    position: absolute;
    transition: opacity 1200ms ease-in-out 750ms;
    opacity: 1;
    .page-overlay {
        visibility: visible;
        background: #fafafa;
        transition: all 1200ms ease-out 1000ms;
        transform: translateX(-220vw) skew(10deg);
    }
}

/* EXIT TRANSITION */
.slide-exit {
    top: 0;
    position: absolute;
    opacity: 1;
    .page-overlay {
        visibility: visible;
        background: #fafafa;
        transform: translateX(-220vw) skew(10deg);
    }
}

.slide-exit.slide-exit-active {
    top: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
    .page-overlay {
        opacity: 1;
        visibility: visible;
        background: #fafafa;
        transition: all 1200ms ease-in;
        transform: translateX(+300vw) skew(10deg);
    }
}

.page-overlay {
    position: fixed;
    width: 200vw;
    height: 100vh;
    background: transparent;
    background-repeat:no-repeat;
    background-size:200% 200%;
    background-position:fixed;
    transform: skew(10deg);
    visibility: hidden;
    z-index: 10;
}
